<div id="vista-proyecto">
    <div id="menu-info">
        <i id="barras" class="fa-solid fa-bars"></i>
        <form id="formulario">
            <label for="">Nombre del proyecto</label>
            <input type="text">
            <label for="">Descripción del proyecto</label>
            <textarea cols="17" rows="5"></textarea>
            <label for="">Subir recursos</label>
            <input type="file" id="subir-recursos">
        </form>
    </div>
    <div id="contenedor-proyecto">
        <div id="cuadros">
            <div class="cuadro">HTML</div>
            <div class="cuadro">CSS</div>
            <div class="cuadro">JavaScript</div>
            <div class="cuadro">Resultado</div>
        </div>
    </div>
</div>