<div id="vista-proyecto">
    <div id="menu-info">
        <i id="barras" class="fa-solid fa-bars"></i>
        <form id="formulario">
            <label>Nombre del proyecto</label>
            <input type="text" [(ngModel)]="nombreProyecto" [ngModelOptions]="{ standalone: true }">
            <label>Descripción del proyecto</label>
            <textarea cols="17" rows="5" [(ngModel)]="descripcionProyecto" [ngModelOptions]="{ standalone: true }"></textarea>
            <button type="button" class="cursor" (click)="crearProyecto()">Guardar</button>
        </form>
    </div>
    <div id="contenedor-proyecto">
        <div id="cuadros" *ngIf="opcion=='editar'">
            <div id="html">
                <label class="titulos">HTML</label>
                <textarea class="cuadro" [(ngModel)]="htmlProyecto">{{htmlProyecto}}</textarea>
            </div>
            <div id="css">
                <label class="titulos">CSS</label>
                <textarea class="cuadro" [(ngModel)]="cssProyecto">{{cssProyecto}}</textarea>
            </div>
            <div id="javascript">
                <label class="titulos">JavaScript</label>
                <textarea class="cuadro" [(ngModel)]="jsProyecto">{{jsProyecto}}</textarea>
            </div>
            <div id="resultado">
                <label class="titulos">Resultado:</label>
                <iframe srcdoc={{frameProyecto}} class="cuadro"></iframe>
                <!-- <textarea class="cuadro"></textarea>--> 
                <p>{{frameProyecto}}</p>
                






            </div>
        </div>

        <div id="cuadros" *ngIf="opcion!='editar'">
            <div id="html">
                <label class="titulos">HTML</label>
                <textarea class="cuadro" [(ngModel)]="htmlProyecto"></textarea>
            </div>
            <div id="css">
                <label class="titulos">CSS</label>
                <textarea class="cuadro" [(ngModel)]="cssProyecto"></textarea>
            </div>
            <div id="javascript">
                <label class="titulos">JavaScript</label>
                <textarea class="cuadro" [(ngModel)]="jsProyecto"></textarea>
            </div>
            <div id="resultado">
                <label class="titulos">Resultado:</label>
                <!-- comentario importante, no se que hace aqui esta seccion ayuda--> 
                <!-- <textarea class="cuadro"></textarea>--> 


            </div>
        </div>
    </div>
</div>