<div id="vista-proyecto">
    <div id="menu-info">
        <i id="barras" class="fa-solid fa-bars"></i>
        <form id="formulario">
            <label for="">Nombre del proyecto</label>
            <input type="text">
            <label for="">Descripción del proyecto</label>
            <textarea cols="17" rows="5"></textarea>
        </form>
    </div>
    <div id="contenedor-proyecto">
        <div id="cuadros">
            <div id="html">
                <label for="" class="titulos">HTML</label>
                <textarea class="cuadro"></textarea>
            </div>
            <div id="css">
                <label for="" class="titulos">CSS</label>
                <textarea class="cuadro"></textarea>
            </div>
            <div id="javascript">
                <label for="" class="titulos">JavaScript</label>
                <textarea class="cuadro"></textarea>
            </div>
            <div id="resultado">
                <label for="" class="titulos">Resultado:</label>
                <textarea class="cuadro"></textarea>
            </div>
        </div>
    </div>
</div>