#vista-proyecto {
    display: flex;
}
/**
 * Menú Información
 */
#menu-info {
    background-color: #5cceee;
    width: 18%;
    height: 91vh;
    padding-top: 15px;
}
#barras {
    margin: 15px;
    font-size: 1.5rem;
}
#formulario {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10%;
}
label {
    margin: 3% 0 3% 3%;
}
#subir-recursos {
    font-size: 0.5rem;
    background-color: #5cceee;
}
input {
    border-radius: 15px;
    background: #D9D9D9;
    border: none;
    height: 35px;
    width: 100%;
    margin-bottom: 10%;
    padding: 10px;
}
textarea {
    border-radius: 15px;
    background: #D9D9D9;
    border: none;
    margin-bottom: 10%;
    padding: 10px;
}
/**
 * Contenedor proyecto
 */
#contenedor-proyecto {
    width: 85%;
    height: 91vh;
}
#cuadros {
    height: 80vh;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-top: 3%;
}
.cuadro{
    background-color: #D9D9D9;
    border: 2px solid #f5f5f5;
    // width: 50%;
    padding: 10px;
}
textarea {
    margin: 0;
    resize: none;
    height: 100%;
}
#html, #css, #javascript, #resultado {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50%;
}
.titulos {
    margin: 5px 10px;
}
/**
 * Botón
 */
button {
    border: none;
    border-radius: 5px;
    margin: 15px;
}
button:active {
    transform: translateY(2px);
}