<nav>
    <img src="../../assets/logo-collab.png" alt="logo-collab" [routerLink]="'/home'">
	<div id="opciones-derecha">
		<div id="opciones-crear-proyecto">
			<div class="opcion cursor">
				<i class="fa-solid fa-play"></i>
				<p>Ejecutar</p>
			</div>
			<div class="opcion cursor">
				<i class="fa-solid fa-people-group"></i>
				<p>Colaborar</p>
			</div>
			<div class="opcion cursor">
				<i class="fa-solid fa-download"></i>
				<p>Descargar</p>
			</div>
		</div>
		<button id="btn-inicio" type="button" (click)="open(content)">
			Iniciar sesión
		</button>
		<div id="contenedor-usuario">
			<i id="perfil-usuario" class="fa-regular fa-circle-user"></i>
			<div ngbDropdown id="usuario" class="d-inline-block">
				<button type="button" id="dropdownBasic1" ngbDropdownToggle>
					Usuario Genérico
				</button>
				<div ngbDropdownMenu aria-labelledby="dropdownBasic1">
					<button ngbDropdownItem [routerLink]="'/perfil'" routerLinkActive="esconder">
						<i class="fa-regular fa-user"></i> Ver Perfil
					</button>
					<button ngbDropdownItem [routerLink]="'/proyectos'" routerLinkActive="esconder">
						<i class="fa-solid fa-screwdriver-wrench"></i> Ver Proyectos
					</button>
					<button ngbDropdownItem [routerLink]="'/home'">
						<i class="fa-solid fa-arrow-right-from-bracket"></i> Cerrar Sesion
					</button>
				</div>
			</div>
		</div>
	</div>
</nav>

<ng-template #content let-modal>
	<div class="contenedor-modal">
		<button type="button" id="btn-modal" (click)="modal.dismiss('Cross click')"><i class="fa-regular fa-circle-xmark"></i></button>
		<p class="modal-title" id="modal-basic-title">Iniciar Sesión</p>
		<div class="modal-body">
			<div class="mb-3">
				<app-login></app-login>
			</div>
		</div>
	</div>
</ng-template>
