<div id="perfil-usuario">
    <div id="info-usuario">
        <h3>Información de la cuenta</h3>
        <form id="formulario">
            <label for="">Nombre de Usuario</label>
            <input type="text" placeholder="Usuario Genérico">
            <label for="">Correo Electrónico</label>
            <input type="email" placeholder="generico.usuario@correo.com">
            <label for="">Contraseña</label>
            <input type="password" placeholder="*********">
            <button type="button" id="btn-contrasena" (click)="openModal()">Cambiar Contraseña</button>
        </form>
    </div>
    <div id="info-plan">
        <p>Plan Actual: Gratis</p>
        <p>Proyectos Disponibles: 1</p>
        <p>Fecha de Renovación: 01/08/2023</p>
        <button type="button" id="btn-plan">Cambiar Plan</button>
    </div>
</div>

<div *ngIf="modalSwitchCambContra == true">
    <app-cambiar-contrasena></app-cambiar-contrasena>
</div>