/**
 * Estructura modal
 */
.contenedor-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 4;
}
#crear-cuenta {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
    width: 30%;
    height: 90%;
    z-index: 5;
    position: relative;
    background-color: white;
    padding-bottom: 5%;
}
/**
 * 
 */
#btn-modal {
    border: none;
    background-color: white;
    font-size: 1.2rem;
    width: 100%;
    text-align: right;
    padding: 15px 15px 0 0;
}
.modal-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    margin: 0px 25px;
    line-height: 1.2;
}
#formulario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
label {
    font-size: 1.5rem;
    margin-left: 10px;
    font-weight: 800;
}
input {
    border-radius: 25px;
    background: #D9D9D9;
    border: none;
    height: 30px;
    width: 280px;
    margin-bottom: 20px;
    padding: 5px;
}
#btn-crear {
    border-radius: 10px;
    background: #24C0EB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    font-size: 1.3rem;
    margin: 25px;
    padding: 3px 25px;
}
#btn-crear:active {
    transform: translateY(2px);
}