<div class="contenedor-modal">
    <div class="modal-overlay" (click)="closeModals()"></div>
    <div id="crear-cuenta">
        <button type="button" id="btn-modal" (click)="closeModal()"><i class="fa-regular fa-circle-xmark"></i></button>
		<p class="modal-title" id="modal-basic-title">Crear Cuenta</p>
        <form [formGroup]="formularioCrearCuenta">
            <div id="formulario">
                <label>Correo Electrónico</label>
                <input name="correo" type="email" class="borde" formControlName="correo" placeholder="Escriba aquí su correo electrónico"
                [ngClass]="{'input-error':correo?.invalid && (correo?.dirty || correo?.touched)}" required>
                <div *ngIf="correo?.invalid && (correo?.dirty || correo?.touched)" class="error">Ingrese un correo válido</div>
    
                <label>Usuario</label>
                <input name="usuario" type="text" class="borde" formControlName="usuario" placeholder="Escriba aquí su nombre de usuario" 
                [ngClass]="{'input-error':usuario?.invalid && (usuario?.dirty || usuario?.touched)}" required>
                <div *ngIf="usuario?.invalid && (usuario?.dirty || usuario?.touched)" class="error">Campo requerido</div>
                
                <label>Contraseña</label>
                <input name="contrasena" type="password" class="borde" formControlName="contrasena" placeholder="Escriba aquí su contraseña"
                [ngClass]="{'input-error':contrasena?.invalid && (contrasena?.dirty || contrasena?.touched)}" required>
                <div *ngIf="contrasena?.invalid && (contrasena?.dirty || contrasena?.touched)" class="error">Campo requerido</div>
                
                <label>Confirme Contraseña</label>
                <input name="repContrasena" type="password" class="borde" formControlName="confirmeContra" placeholder="Repita aquí su contraseña"
                [ngClass]="{'input-error':confirmeContra?.invalid && (confirmeContra?.dirty || confirmeContra?.touched)}" required>
                <div *ngIf="confirmeContra?.invalid && (confirmeContra?.dirty || confirmeContra?.touched)" class="error">Campo requerido</div>
                <!-- <div *ngIf="confirmeContra!=contrasena" class="error">Las contraseñas no coinciden</div> -->
                <!-- <div *ngIf="formularioCrearCuenta.get('confirmeContra').hasError('noCoinciden')" class="error">Las contraseñas no coinciden</div> -->
            
                <label>Tipo de plan</label>
                <select formControlName="seleccionarPlan"> <!-- [(ngModel)]="planSeleccionado" [ngModelOptions]="{standalone: true} -->
                    <option [value]="0" disabled selected>Seleccione un tipo de plan</option>
                    <option [value]="1">Plan Gratis (Almacenar 3 proyectos)</option>
                    <option [value]="2">Plan Junior (Almacenar 10 proyectos | 5$/Mes)</option>
                    <option [value]="3">Plan Senior (Almacenar 30 proyectos | 12$/Mes)</option>
                </select>
            </div>
        </form>
        <button id="btn-crear" [routerLink]="'/proyectos'" [disabled]="!formularioCrearCuenta.valid" (click)="crearCuenta()">Crear</button> <!-- (click)="closeModals()" -->
    </div>
</div>