/**
 * Estructura modal
 */
.contenedor-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.338);
    z-index: 2;
}
#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    border-radius: 15px;
    overflow: hidden;
    // width: 30%;
    width: 460px;
    height: 90%;
    z-index: 4;
    position: relative;
    background-color: white;
    padding-bottom: 5%;
}
/**
 * 
 */
#btn-modal {
    border: none;
    background-color: white;
    font-size: 1.2rem;
    width: 11%;
    text-align: right;
    padding: 15px 15px 0 0;
    margin-left: auto;
}
label {
    font-size: 1.5rem;
    margin: 15px 0 0 10px;
    font-weight: 800;
}
input {
    border-radius: 25px;
    background-color: #D9D9D9;
    border: none;
    // border: 1px solid #D9D9D9;
    // outline: 1px solid #069e27;
    height: 30px;
    width: 280px;
    // margin-bottom: 20px;
    padding: 5px;
}
#iniciar-sesion {
    font-size: 1.5rem;
}
#btn-acceder {
    border-radius: 10px;
    background: #24C0EB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: none;
    font-size: 1.3rem;
    margin: 25px;
}
#btn-acceder:active {
    transform: translateY(2px);
}
#facebook {
    color: #1977f3;
}
a {
    text-decoration: none;
    color: black;
}
#formulario {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.espacio {
    margin: 15px;
}
.sobre:hover {
    color: #24C0EB;
}
.modal-title {
    text-align: center;
    font-size: 3rem;
    font-weight: 800;
    margin: 0px 25px;
    line-height: 1.2;
}
// .borde {
//     border: none;
// }