/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

body, html {
    background-color: #f5f5f5;
    height: 100vh;
    margin: 0;
}
* {
    font-family: Quantify;
}
.cursor {
    cursor: pointer;
}
.error {
    padding: 5px;
    margin: 0 5px;
    font-size: .7rem;
    color: red;
}
.input-error {
    // border: 1px solid red;
    outline: 1px solid red;
}